head {
	position: fixed;
}

#banner {
	background-color: #000033;
	font-family: 'Tangerine', serif;
	font-size: 50em;
	color: #ffffff;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	padding-left: 50px;
	display: inline;
}
 
#nav_bar {
	background-color: grey;
	font-family: 'Bree Serif', serif;
	left: 0;
	top: 160px;
	width: 100%;
	position: fixed;
}
 
#nav_bar li {
	display: inline;
	margin-right: 40px;
	color: #ffffff;
}
 
#nav_bar a {
	text-decoration: none;
	color: #ffffff;
}
 
#photo_slider img{
	width: 100%;
}
.dot{
	border-radius: 50%;
	background-color: gray;
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 5px;
	position: absolute;
	bottom: 50%;
}
.dot:hover{
	opacity: 0.8;
}
#back{
	left: 5%;
}
#next{
	left: 95%;
}
