html{
	overflow-x: hidden;
	width: 100%;
}
head {
	position: fixed;
}

#banner {
	background-color: #324c5f;
	font-family: 'Eczar', serif;
	color: #ffffff;
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.image {
	position: relative;
	float: left;
	left: -19px;
	top: 0px;
}

h1 {
	font-family: 'Eczar', serif;
	top: 0;
}

h2 {
	position: absolute;
	top: 0px;
	left: 50px;
	width: 100%;
	font-size: 3em;
}

#nav_bar {
	background-color: #FF8362;
	font-family: 'Lora', serif;
	left: 0;
	top: 110px;
	width: 100%;
	position: fixed;
	text-align: center;
	z-index: 2;
}

#nav_bar li {
	display: inline;
	margin-top: 0;
	margin-right: 40px;
	padding: 0;
	color: #ffffff;
}

#body1 {
	padding-top: 153px;
}

#container{
	max-width: 1150px;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	width: 100%;
	padding-left: 1em;
	padding-right: 1em;
}

#nav_bar a {
	text-decoration: none;
	color: #ffffff;
}

#general_info {
	background-color: #DAF7A6;
	display: block;
	font-family: 'Lora', serif;
	height: 100%;
	padding: 5%;
}

#event_content {
	background-color: #ffffcc;
	display: block;
	font-family: 'Lora', serif;
	height: 100%;
	padding: 5%;
}

#food_content {
	background-color: #ffdb99;
	display: block;
	font-family: 'Lora', serif;
	height: 100%;
	padding: 5%;
}

#direction_content {
	background-color: #ff9999;
  display: block;
  font-family: 'Lora', serif;
  height: 100%;
  padding: 5%;
}

#photo_slider img{
	width: 100%;
}

.dot{
	border-radius: 50%;
	background-color: gray;
	display: inline-block;
	height: 40px;
	width: 40px;
	margin: 5px;
	position: absolute;
	bottom: 50%;
	z-index: 1;
}

.dot:hover{
	opacity: 0.8;
}

#back{
	left: 5%;
}

#next{
	left: 95%;
}

/*media queries*/
@media screen and (min-width: 1200px) {
  #photo_slider > img {
    min-width: 1100px;
    max-width: 100%;
    height: auto;
  }

  #container {
    width: 100%;
  }

  #direction_content img {
    width: 80%;
  }

	#banner {
    font-size: 74%;
  }

  #nav_bar li {
    font-size: 74%;
  }
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
  #photo_slider > img {
    min-width: 648px;
    max-width: 1000px;
    height: auto;
  }

  #container {
    max-width: 85%;
  }

	#photo_slider > img{
		width: 100%;
	}

  #direction_content img {
    width: 100%;
  }

	#banner {
		font-size: 75%;
	}

	#nav_bar li {
		font-size: 75%;
	}
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  #container > img {
    min-width: 360px;
    max-width: 568px;
  }


  #container {
    max-width: 75%;
  }

	#photo_slider > img{
		width: 100%;
	}

  #direction_content img {
    width: 100%;
  }

	#banner {
		font-size: 80%;
	}

	#nav_bar li {
		display: block;
		font-size: 80%;
	}
}

@media screen and (max-width: 480px) {
  #container {
    max-width: 65%;
  }

	#photo_slider > img{
		width: 100%;
	}

  #direction_content img {
    width: 100%;
  }

	#banner {
		font-size: 100%;
	}

	#nav_bar li {
		display: block;
		font-size: 100%;
	}
}

footer {
	left: 0;
	right: 0;
	margin: 0;
	padding: 10px;
	background-color: #324C5f;
	color: white;
	font-size: 14px;
	text-align: center;
	width: 100%;
	display: block;
	bottom: 0;
}


#tele {
  color: blue;
  text-decoration: underline;
}
#nav_bar a:hover {
	opacity: 0.75;
}
